{% for item in k8s_services_openssl_config|sort %}
[{{ item }}]
{% if k8s_services_openssl_config[item] %}
{% for k in k8s_services_openssl_config[item]|sort %}
  {{ k }} = {{ k8s_services_openssl_config[item][k] }}
{% endfor %}
{% endif %}
{% endfor %}