# This manifest deploys the Calico Kubernetes controllers.
# See https://github.com/projectcalico/kube-controllers

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: calico-kube-controllers
  namespace: kube-system
  labels:
    tier: control-plane
    k8s-app: calico-kube-controllers
  annotations:
    kismatic/version: "{{ kismatic_short_version }}"
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
spec:
  # The controllers can only have a single active instance.
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      name: calico-kube-controllers
      namespace: kube-system
      labels:
        tier: control-plane
        k8s-app: calico-kube-controllers
    spec:
      # The controllers must run in the host network namespace so that
      # it isn't governed by policy that would prevent it from working.
      hostNetwork: true
      serviceAccountName: calico-kube-controllers
      tolerations:
        - effect: NoSchedule
          operator: Exists
      volumes:
        - name: "ca"
          hostPath:
            path: "{{ kubernetes_certificates.ca }}"
        - name: "cert"
          hostPath:
            path: "{{ kubernetes_certificates.etcd_client }}"
        - name: "key"
          hostPath:
            path: "{{ kubernetes_certificates.etcd_client_key }}"
      containers:
        - name: calico-kube-controllers
          image: "{{ images.calico_kube_controller }}"
          volumeMounts:
            - mountPath: "{{ kubernetes_certificates.ca }}"
              name: "ca"
            - mountPath: "{{ kubernetes_certificates.etcd_client }}"
              name: "cert"
            - mountPath: "{{ kubernetes_certificates.etcd_client_key }}"
              name: "key"
          env:
            # The location of the Calico etcd cluster.
            - name: ETCD_ENDPOINTS
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_endpoints
            # Location of the CA certificate for etcd.
            - name: ETCD_CA_CERT_FILE
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_ca
            # Location of the client certificate for etcd.
            - name: ETCD_CERT_FILE
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_cert
            # Location of the client key for etcd.
            - name: ETCD_KEY_FILE
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_key
            # The location of the Kubernetes API.  Use the default Kubernetes
            # service for API access.
            - name: K8S_API
              value: "{{ kubernetes_master_ip }}"
            - name: CONFIGURE_ETC_HOSTS
              value: "true"

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: calico-kube-controllers
  namespace: kube-system